<section data-ng-controller="HomeController">
	<div class="jumbotron text-center">
		<div class="row">
			<div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
				<img alt="MEAN.JS" class="img-responsive text-center" src="modules/core/img/brand/logo.png" />
			</div>
		</div>
		<br>
		<div class="row">
			<p class="lead">
				Trendy.Ink
			</p>
		</div>
		<div class="row">
			<p>
				<a class="btn btn-primary btn-lg" href="/#!/tattoos/create">Create Tattoo</a>
			</p>
		</div>
	</div>
	<div>
		<h2>Congrats!</h2>
		<p>Trendy.Ink is a web application boilerplate, which means you should start changing everything :-)</p>
		<p>This sample application tracks users and articles.</p>
		<ul>
			<li>
				Have fun...
			</li>
		</ul>
	</div>
	<div class="row">
		<div class="col-md-3">
			<h2>
				<strong>Design a Tattoo
			</h2>
			<p><a href="/#!/tattoos/create">Create</a></p>
		</div>
	</div>
	<br>Enjoy &amp; Keep Us Updated,
	<br>The Trendy Team.
</section>
