<section data-ng-controller="ImagesController">

    <div class='crop'>


        <div>Select an image file: <input type="file" id="fileInput" /></div>
        <div class="cropArea">
            <img-crop image="myImage" result-image="myCroppedImage"></img-crop>
        </div>
        <div>Cropped Image:</div>
        <div><img ng-src="{{myCroppedImage}}" /></div>


        <div class="page-header">
            <h1>New Image</h1>
        </div>

    </div>
    <div class="col-md-12">
        <!--		<form name="articleForm" class="form-horizontal" data-ng-submit="create()" novalidate>
                    <fieldset>
                        <div class="form-group" ng-class="{ 'has-error': articleForm.title.$dirty && articleForm.title.$invalid }">
                            <label class="control-label" for="title">Title</label>
                            <div class="controls">
                                <input name="title" type="text" data-ng-model="title" id="title" class="form-control" placeholder="Title" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="content">Content</label>
                            <div class="controls">
                                <textarea name="content" data-ng-model="content" id="content" class="form-control" cols="30" rows="10" placeholder="Content"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="submit" class="btn btn-default">
                        </div>
                        <div data-ng-show="error" class="text-danger">
                            <strong data-ng-bind="error"></strong>
                        </div>
                    </fieldset>
                </form>-->


        <div flow-init="{singleFile:true}" flow-file-added="!!{png:1,gif:1,jpg:1,jpeg:1}[$file.getExtension()]" class="ng-scope">
            <h3>
                <a name="image-example" class="anchor" href="#image-example"><span class="octicon octicon-link"></span></a>Single Image upload</h3>
            <div class="thumbnail" ng-show="!$flow.files.length">
                <img src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&amp;text=no+image">
            </div>
            <div class="thumbnail ng-hide" ng-show="$flow.files.length">
                <img flow-img="$flow.files[0]">
            </div>
            <div>
                <span class="btn btn-primary" ng-show="!$flow.files.length" flow-btn="">Select image<input type="file" style="visibility: hidden; position: absolute;"></span>
                <span class="btn btn-info ng-hide" ng-show="$flow.files.length" flow-btn="">Change<input type="file" style="visibility: hidden; position: absolute;"></span>
                <span class="btn btn-danger ng-hide" ng-show="$flow.files.length" ng-click="$flow.cancel()">
                    Remove
                </span>
            </div>
            <p>
                Only PNG,GIF,JPG,JEPG files allowed.
            </p>


            <h2>Transfers:</h2>

            <p>
                <a class="btn btn-small btn-success" ng-click="$flow.resume()">Upload</a>
                <a class="btn btn-small btn-danger" ng-click="$flow.pause()">Pause</a>
                <a class="btn btn-small btn-info" ng-click="$flow.cancel()">Cancel</a>
                <span class="label label-info">Size: {{$flow.getSize()}}</span>
                <span class="label label-info">Is Uploading: {{$flow.isUploading()}}</span>
            </p>
            <table class="table table-hover table-bordered table-striped" flow-transfers>
                <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Size</th>
                    <th>Relative Path</th>
                    <th>Unique Identifier</th>
                    <th>#Chunks</th>
                    <th>Progress</th>
                    <th>Paused</th>
                    <th>Uploading</th>
                    <th>Completed</th>
                    <th>Settings</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="file in transfers">
                    <td>{{$index+1}}</td>
                    <td>{{file.name}}</td>
                    <td>{{file.size}}</td>
                    <td>{{file.relativePath}}</td>
                    <td>{{file.uniqueIdentifier}}</td>
                    <td>{{file.chunks.length}}</td>
                    <td>{{file.progress()}}</td>
                    <td>{{file.paused}}</td>
                    <td>{{file.isUploading()}}</td>
                    <td>{{file.isComplete()}}</td>
                    <td>
                        <div class="btn-group">
                            <a class="btn btn-mini btn-warning" ng-click="file.pause()" ng-hide="file.paused">
                                Pause
                            </a>
                            <a class="btn btn-mini btn-warning" ng-click="file.resume()" ng-show="file.paused">
                                Resume
                            </a>
                            <a class="btn btn-mini btn-danger" ng-click="file.cancel()">
                                Cancel
                            </a>
                            <a class="btn btn-mini btn-info" ng-click="file.retry()" ng-show="file.error">
                                Retry
                            </a>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>

        </div>

    </div>
</section>